<div class="flex gap-8 py-4">
  <mat-card class="w-1/4 p-4 max-h-fit h-full">
    <form class="flex flex-col gap-4" [formGroup]="form">
      <div class="flex flex-col">
        <mat-label>Recents matches: {{ recentMatchesValue }}</mat-label>
        <mat-slider class="example-margin" [max]="10" [min]="2" [step]="1" [discrete]="true" [showTickMarks]="true">
          <input matSliderThumb formControlName="recentMatches" #slider>
        </mat-slider>
      </div>

      <div class="flex flex-col gap-2">
        <mat-label>Types</mat-label>
        <mat-radio-group class="flex flex-col" formControlName="odd">
          @for (odd of oddSelection; track odd.value) {
          <mat-radio-button [value]="odd.value" color="primary">{{odd.label}}</mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <div class="flex flex-col gap-2">
        <mat-label>Timeline</mat-label>
        <mat-radio-group class="flex gap-2" formControlName="timeline">
          @for (timeline of timelineRadio; track timeline.value) {
          <mat-radio-button [value]="timeline.value" color="primary">{{timeline.label}}</mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </form>
  </mat-card>
  <div class="flex flex-col gap-6 w-3/4" *ngIf="statistic">
    <ng-container *ngIf="statistic.home">
      <mat-card class="p-2 relative">
        <div class="absolute top-2 right-2">
          <button mat-icon-button #tooltip="matTooltip" matTooltip="More details"
            (click)="openStatisticDetailDialog(statistic.home)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
        <mat-card-header class="flex items-center justify-center gap-3 mb-3">
          <img class="w-[35px] h-[35px] block" [src]="statistic.home.logo" [alt]="statistic.home.name" srcset="">
          <span class="text-sm uppercase font-bold">{{ statistic.home.name }}</span>
        </mat-card-header>
        <c-line-chart [stats]="statistic.home" [types]="oddSelected" [timeline]="timelineSelected"></c-line-chart>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="statistic.away">
      <mat-card class="p-2 relative">
        <div class="absolute top-2 right-2">
          <button mat-icon-button #tooltip="matTooltip" matTooltip="More details"
            (click)="openStatisticDetailDialog(statistic.away)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
        <mat-card-header class="flex items-center justify-center gap-3 mb-3">
          <img class="w-[35px] h-[35px] block" [src]="statistic.away.logo" [alt]="statistic.away.name" srcset="">
          <span class="text-sm uppercase font-bold">{{ statistic.away.name }}</span>
        </mat-card-header>
        <c-line-chart [stats]="statistic.away" [types]="oddSelected" [timeline]="timelineSelected"></c-line-chart>
      </mat-card>
    </ng-container>
  </div>
</div>