<div class="flex gap-10 py-4">
  <mat-card class="w-1/5 p-4 max-h-fit h-full">
    <form class="flex flex-col gap-4" [formGroup]="form">
      <div class="flex flex-col gap-2">
        <mat-label>Number of matches</mat-label>
        <input class="w-full border border-gray-400 rounded-lg py-1 px-4" formControlName="recentMatches" type="text"
          placeholder="Enter number of matches">

        @if (recentMatchFormControl?.hasError('max')) {
        <shared-error-message message="Enter less than 10 matches" />
        }

        @if (recentMatchFormControl?.hasError('min')) {
        <shared-error-message message="Enter less than 10 matches" />
        }
      </div>

      <div class="flex flex-col gap-2">
        <mat-label>Odds</mat-label>
        <mat-radio-group class="flex flex-col" formControlName="odd">
          @for (odd of oddSelection; track odd.value) {
          <mat-radio-button [value]="odd.value" color="primary">{{odd.label}}</mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </form>
  </mat-card>
  <div class="flex flex-col gap-6 w-4/5" *ngIf="statistic">
    <ng-container *ngIf="statistic.home">
      <mat-card class="p-2 relative">
        <div class="absolute top-2 right-2">
          <button mat-icon-button #tooltip="matTooltip" matTooltip="More details"
            (click)="openStatisticDetailDialog(statistic.home)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
        <mat-card-header class="flex items-center justify-center gap-3 mb-3">
          <!-- <img class="w-[35px] h-[35px] block" [src]="match.home.logo" [alt]="home" srcset=""> -->
          <!-- <span class="text-sm uppercase font-bold">{{ match.home.name }}</span> -->
        </mat-card-header>
        <c-line-chart [stats]="statistic.home" [odd]="oddSelected"></c-line-chart>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="statistic.away">
      <mat-card class="p-2 relative">
        <div class="absolute top-2 right-2">
          <button mat-icon-button #tooltip="matTooltip" matTooltip="More details"
            (click)="openStatisticDetailDialog(statistic.away)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
        <mat-card-header class="flex items-center justify-center gap-3 mb-3">
          <!-- <img class="w-[35px] h-[35px] block" [src]="match.away.logo" [alt]="match.away.name" srcset=""> -->
          <!-- <span class="text-sm uppercase font-bold">{{ match.away.name }}</span> -->
        </mat-card-header>
        <c-line-chart [stats]="statistic.away" [odd]="oddSelected"></c-line-chart>
      </mat-card>
    </ng-container>
  </div>
</div>