<div class="grid grid-cols-12 max-h-full w-full py-4 gap-12">
  <div class="lg:col-span-3">
    <mat-card>
      <mat-card-header class="font-medium">Top Leagues</mat-card-header>
      <mat-card-content class="mt-4 !p-0">
        @for(league of leagues; track league.id) {
        <div class="flex cursor-pointer p-4 gap-3 league-item" [class.selected]="leagueSelected.id === league.id"
          (click)="onClickLeague(league)">
          <img src="assets/epl.png" [alt]="league.name" class="block w-[25px] h-[25px]">
          <span>{{ league.name }}</span>
        </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
  <div class="lg:col-span-9">
    @if(matches.length) {
    <div class="border border-gray-100 shadow-xl">
      @for(matches of matches; track matches.date) {
      <div class="px-5 py-2 border-gray-100 border-t border-b bg-[#f8f9fa] color-[#1f1f1f]">
        Match day {{ matches.date }}
      </div>
      <div class="grid grid-cols-12 bg-[#fafafa]">
        @for(match of matches.data; track match.home.id) {
        <div (click)="onClickMatch(match)"
          class="flex items-center col-span-6 pl-4 py-6 cursor-pointer border-[0.5px] border-gray-100 bg-white hover:bg-[#fafafa] text-sm">
          <div class="w-[75%] flex flex-col gap-2 border-[#d2d2d2] border-r py-2">
            <div class="flex items-center gap-2">
              <img class="w-[24px] h-[24px] block" [src]="match.home.logo" [alt]="match.home.name">
              <span>{{ match.home.name }}</span>
            </div>
            <div class="flex items-center gap-2">
              <img class="w-[24px] h-[24px] block" [src]="match.away.logo" [alt]="match.away.name">
              <span>{{ match.away.name }}</span>
            </div>
          </div>
          <div class="w-[25%] text-center">{{ match.time }}</div>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</div>